<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Members Only</strong> by <a href="https://othman-19.github.io/my_portfolio/">Othmane Namani</a>
    </p>
    <p>
      &copy; Copyright 2020 Othmane Namani
    </p>
  </div>
</footer>