<h1> PROJECT: Only Members by Nodejs</h1>
<br>

<p>In this project I’ll be building an exclusive clubhouse where members can write embarrassing posts. Inside the clubhouse, members can see who the author of a post is, but outside they can only see the story and wonder who wrote it.
  I will use my authentication skills learned, and also I will be practicing my database.
</p>
<br>

<p>
  ## Live Demo
  <a href="/posts">Live Demo Link.</a>
</p>
<br>

<div>
  <h2>Built With</h2>
  <ul>
    <li>- Node.</li> 
    <li>- Express.js.</li> 
    <li>- Passport.js.</li> 
    <li>- bcrypt.js.</li> 
    <li>- Npm.</li> 
    <li>- Html.</li> 
    <li>- CSS.</li> 
    <li>- Bootstarp.</li> 
    <li>- EJS.</li> 
    <li>- MongoDB.</li>
  </ul>
</div>
<br>

<h2>Features:</h2>
<ul>
  <li>- Everyone could signup using full name and a password.</li>
  <li>- All members could login using their full names and passwords.</li>
  <li>- Passwords are secured with bcrypt.js.</li>
  <li>- Only memebers could see the posts' authors.</li>
  <li>- It includes all of the CRUD methods for posts, so anybody that’s visiting the site can Create, Read, Update or Delete their own posts.</li>
  <li>- Admin has the ability to see all authors and permitted to delete all messages.</li>
</ul>
<br>

<h2>Prerequisites</h2>
<ul>
  <li>1. Git.</li>
  <li>2. Code editor.</li>
  <li>3. browser.</li>
  <li>4. Node. </li>
</ul>
<br>

<h2>How to run the app</h2> 
<p> On your local machine: </p>
<ul>
  <li>1. Open your terminal.</li>
  <li>2. Enter `git clone https://github.com/othman-19/only-members-nodejs`.</li>
  <li>3. Navigate to the cloned repository.</li>
  <li>4. In the terminal cd into Inventory-app-expressjs.</li>
  <li>5. Run `npm install` in your terminal.</li>
  <li>6. Run `npm run serverstart` or `DEBUG=only-members-nodejs:* npm run devstart` in your terminal.</li>
  <li>7. In your browser try this url: `http://localhost:3000/`.</li>
  <li>8. Try subscribe, create posts, become a member or an admin.</li>
</ul>
<br>

<h2>Author(s)</h2>
<ul>
  <li><a href="https://github.com/othman-19/" target="_blank">Othmane Namani</a></li>
  <li><a href="mailto:othmanenaamani@gmail.com">Email: othmanenaamani@gmail.com</a></li>
  <li><a href="https://othman-19.github.io/my_portfolio/" target="_blank">Portfolio</a></li>
  <li><a href="https://www.linkedin.com/in/othman-namani/" target="_blank">LinkedIn</a></li>
  <li><a href="https://dev.to/othman" target="_blank">DEV Community</a></li>
  <li><a href="https://twitter.com/ONaamani" target="_blank">Twitter</a></li>
  <li><a href="https://angel.co/othmane-namani" target="_blank">Angel List</a></li>
</ul>

<br>
<h1>🤝 Contributing</h1> 
<br>
<p>
  Contributions, issues and feature requests are welcome!

  Feel free to check the issues page at the <a href="https://github.com/othman-19/only-members-nodejs" target="_blank">GitHub Repo</a> of the project.

  Show your support and give a ⭐️ if you like this project!
</p>


