<div class="container">
    <h2> <%= title %> </h2>
    <form action="" method="post">
  
      <label for="rolePassword">Password</label>
      <input type="password" id="rolePassword" name="rolePassword" placeholder="Password" required>
  
      <label for="rolePasswordConfirmation">Confirme Password</label>
      <input type="password" id="rolePasswordConfirmation" name="rolePasswordConfirmation" placeholder="Confirme Password" required>
  
      <button type="submit">Join</button> 
    </form>
  </div>